.header {
    display: inline;
    position: fixed;
    height: 5vh;
    width: 98%;
    background-color: white;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.name {
    float: left;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 2vh;
    color: var(--rupaaunty);
}

.about {
    display: inline;
    position: relative;
    inline-size: auto;
    float: right;
    margin-right: 20px;
    padding-bottom: 10px;
    font-size: 2vh;
}

li {
    display: inline;
}

#carousel-img-1 {
    top: 0;
    left: 0;
    min-width: 100;
    padding-top: 5em;
}

#images {
    text-align: center;
    height: 86px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: bold;
}

.original {
    text-align: center;
    height: 86px;
    color: red;
    background-color: black;
}

.heading {
    background-color: black;
    color: red;
    padding: 20px;
}

.head {
    text-align: right;
}

.aboutus {
    background-color: black;
    color: red;
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.bottom {
    background-color: black;
    color: white;
    padding: 20px;
}

.superscript {
    font-size: 0.5em;
}

.sk {
    font-size: 2em;
}

.original {
    padding-top: 2%;
}

.fine {
    background-color: red;
    height: 86px;
    color: white;
}